* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(1, 1, 104);
    margin: 20px 80px;
    padding: 16px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    width:150px;
}
.campo-busca{
    width: 500px;
    padding: 10px;
    border:none;
    border-radius: 5px;
}
#btn-buscar{
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    background-color: #fff;
    color: #0a0268;
    font-weight:bold;
    font-size: 16px;
    cursor: pointer;
}
#btn-buscar:hover{
    background-color: #d5c8c8;
}